.box {
  padding: 25px 10px 25px 10px;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 21px;
  font-weight: bold;
}
.stepCount {
  font-size: 12px;
  color: #a2a0a0;
  font-weight: 500;
  margin-top: 10px;
}
.selector {
  border: 1px solid gray;
  width: 380px;
  text-align: center;
  margin: 10px auto auto;
}
.selectorTitle {
  font-weight: 500;
  color: #2f25bf;
  background-color: #eaeaea;
  line-height: 40px;
}
.message {
  padding: 20px;
}
.options li {
  text-align: left;
}
.error {
  color: red;
}
.success {
  color: #2f25bf;
}

